<!--<div *ngIf="mensagem_sucesso" (click)="mensagem_sucesso= ''"class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{mensagem_sucesso}}
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>
  
  <div *ngIf="mensagem_erro" (click)="mensagem_erro= ''"class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erro!</strong> {{mensagem_erro}}
    <button type="button" class="btn-close" aria-label="Close"></button>
  </div>

<div>
    <h3>Edição de studio</h3>
    <p>Utilize o formulário para alterar a empresa</p>
    <hr>
</div>

<form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">
    <div class="row mb-2">

        <div class="col-md-4">
            <label>Nome: </label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="nome">
            <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid"> Por favor, informe o nome do
                funcionário</div>
        </div>

        <div class="col-md-4">
            <label>E-mail: </label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="email">
            <div class="text-danger" *ngIf="form.email.touched && form.email.invalid"> Por favor, informe o e-mail
                da funcionário</div>
        </div>

        <div class="col-md-4">
            <label>Telefone: </label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="telefone">
            <div class="text-danger" *ngIf="form.telefone.touched && form.telefone.invalid"> Por favor, informe o
                telefone do funcionário</div>
        </div>

        <div class="col-md-4">
            <label>CPF: </label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="cpf">
            <div class="text-danger" *ngIf="form.cpf.touched && form.cpf.invalid"> Por favor, informe o CPF do
                funcionário</div>
        </div>

        <div class="col-md-2" >
            <label>Tipo funcionario:</label>
            <select class="form-select" formControlName="tipofuncionario">
                <option value="2">ADMINISTRADOR</option>
                <option value="1">FUNCIONARIO</option>
                <option value="3">TATTOADOR</option>
                <option value="4">BODYPIERCING</option>
            </select>
            <div class="text-danger" *ngIf="form.tipofuncionario.touched && form.tipofuncionario.invalid">
                <span *ngIf="form.tipofuncionario.errors.required">
                    Campo obrigatório.
                </span>
            </div>
        </div>

        <div class="col-md-3">
            <label>Informe seu Cep:</label>
            <input type="text" class="form-control" placeholder="Digite aqui" formControlName="cep" mask="00000-000"
                (keyup)="onKeyUp($event)" />
            <div class="text-danger" *ngIf="form.cep.touched && form.cep.invalid">
                <span *ngIf="form.cep.errors.required">
                    Campo obrigatório.
                </span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Logradouro:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" readonly
                    formControlName="logradouro" />
                <div class="text-danger" *ngIf="form.logradouro.touched && form.logradouro.invalid">
                    <span *ngIf="form.logradouro.errors.required">
                        Campo obrigatório.
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label>Número:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" formControlName="numero" />
                <div class="text-danger" *ngIf="form.numero.touched && form.numero.invalid">
                    <span *ngIf="form.numero.errors.required">
                        Campo obrigatório.
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <label>Complemento:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" formControlName="complemento" />
                
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-5">
                <label>Bairro:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" readonly
                    formControlName="bairro" />
                <div class="text-danger" *ngIf="form.bairro.touched && form.bairro.invalid">
                    <span *ngIf="form.bairro.errors.required">
                        Campo obrigatório.
                    </span>
                </div>
            </div>
            <div class="col-md-5">
                <label>Cidade:</label>
                <input type="text" class="form-control" placeholder="Digite aqui" readonly
                    formControlName="localidade" />
                <div class="text-danger" *ngIf="form.localidade.touched && form.localidade.invalid">
                    <span *ngIf="form.cidade.errors.required">
                        Campo obrigatório.
                    </span>
                </div>
            </div>
            <div class="col-md-2" readonly>
                <label>UF:</label>
                <select class="form-select" formControlName="uf">
                    <option value="">Selecione</option>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espirito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
                <div class="text-danger" *ngIf="form.uf.touched && form.uf.invalid">
                    <span *ngIf="form.uf.errors.required">
                        Campo obrigatório.
                    </span>
                </div>
            </div>
        </div>

    </div>


    <p></p>
    <div class="mb-2">
        <input type="submit" value="Salvar alterações" [disabled]="!formEdicao.valid" class="btn btn-primary">
    </div>

</form> !-->